name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # Install Flutter
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.13.0'  # match your local version

    # Get dependencies
    - run: flutter pub get

    # Build web
    - run: flutter build web --release

    # Deploy to Firebase Hosting
    - uses: FirebaseExtended/action-hosting-deploy@v0
      with:
        repoToken: "${{ secrets.GITHUB_TOKEN }}"
        firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_OFFSET_PRODUCTION_ERP }}"
        channelId: live
